<script>
  <% if logged_in? %>
    window.currentUser = <%=
      render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe
    %>
  <% end %>

  window.staticImages = {
    profile_pic_url: "<%= asset_url('profile_pic.svg') %>",
    powered_by_giphy: "<%= asset_url('powered_by_giphy.gif') %>"
  }
</script>

<div id="root">
</div>