// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container {
  display: flex;
  flex-direction: column;
  width: 296px;
  height: 640px;
  justify-content: center;
  margin-left: 20%;
  position: relative;
}

.session-form {
  display: flex;
  flex-direction: column;
}

.session-form button, .session-form input[type='submit']  {
  background-color: $main-color;
  color: $background-color;
  cursor: pointer;
  padding-right: 10px;
  width: 260px;
  height: 42px;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px 0;
  outline: none;
}

.session-form input[type='text'], .session-form input[type='password'] {
  width: 250px;
  height: 42px;  
}
.session-form input[type='text']:focus, .session-form input[type='password']:focus {
  outline: 1px solid $their-bubble-color;
}

.session-form button, .session-form input {
  font-size: 16px;
  border-radius: 5px;
  margin: 5px 0;
}

.session-form input[type='text'], .session-form input[type='password'] {
  border: 1px solid $signin-border
}

.session-form a {
  margin: 0 5px;
  color: $link-color;
}

.session-form a:visited {
  color: $link-color;
}

.session-form input[type='text'], .session-form input[type='password'] {
  padding-left: 10px;
}

.session-form-link-container {
  display: flex;
  justify-content: center;
  width: 262px;
}

.session-form-link-container p {
  padding-top: 5px;
  margin-left: 5px;
  text-align: center;
}

.logo-container {
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: asset_url('teami_logo.svg');
}

.session-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 262px;
}

.session-header h1 {
  font-size: 45px;
  font-weight: 200;
}

.session-header p {
  font-size: 25px;
  font-weight: 200;
}

.session-header p, .session-header h1 {
  text-align: center;
}

.session-header p, .session-header h1, .logo-container {
  margin: 10px 0;
}

.session-image {
  background-repeat: no-repeat;
  background-position: center;
  background-image: asset_url('splash.jpg');
  background-size: contain;
  height: inherit;
  width: inherit;
}

.session-image-container {
  height: 640px;
  width: 640px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-container {
  display: flex;
}

.session-container li {
  color: red;
  margin: 5px;
  text-align: left;
}

.session-container ul {
  position: absolute;
  top: 590px;
  list-style-type: disc; 
  padding-left: 10px;
}

.main-session-container {
  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: $link-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  margin: 0 20px;
  color: $background-color;
  font-size: 20px;
}

.footer a:visited {
  color: $background-color;
}

// .footer-icon {
//   vertical-align: bottom;
// }