/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,,700");
/* line 8, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 29, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
body {
  line-height: 1;
  background-color: #ffffff;
}

/* line 37, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 52, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
a {
  text-decoration: none;
}

/* line 56, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 62, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
input[type='submit'], button {
  cursor: pointer;
}

/* line 66, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
input[type='text']:focus, input[type='password']:focus, input[type='submit']:focus, button {
  outline: none;
  overflow: hidden;
}

/* line 71, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
textarea:focus {
  outline: none;
}

/* line 75, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
textarea {
  border: none;
  border-top: 1px solid #f1f0f0;
}

/* line 80, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
.hidden {
  visibility: hidden;
}

/* line 84, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/css_reset.scss */
textarea, input, button {
  font-weight: 300;
}

/* line 5, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-form-container {
  display: flex;
  flex-direction: column;
  width: 296px;
  height: 640px;
  justify-content: center;
  margin-left: 20%;
  position: relative;
}

/* line 15, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-form {
  display: flex;
  flex-direction: column;
}

/* line 20, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-form button, .session-form input[type='submit'] {
  background-color: #7DCC4D;
  color: #ffffff;
  cursor: pointer;
  padding-right: 10px;
  width: 260px;
  height: 42px;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px 0;
  outline: none;
}

/* line 33, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-form input[type='text'], .session-form input[type='password'] {
  width: 250px;
  height: 42px;
}

/* line 37, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-form input[type='text']:focus, .session-form input[type='password']:focus {
  outline: 1px solid #f1f0f0;
}

/* line 41, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-form button, .session-form input {
  font-size: 16px;
  border-radius: 5px;
  margin: 5px 0;
}

/* line 47, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-form input[type='text'], .session-form input[type='password'] {
  border: 1px solid #f2f2f2;
}

/* line 51, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-form a {
  margin: 0 5px;
  color: #7DCC4D;
}

/* line 56, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-form a:visited {
  color: #7DCC4D;
}

/* line 60, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-form input[type='text'], .session-form input[type='password'] {
  padding-left: 10px;
}

/* line 64, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-form-link-container {
  display: flex;
  justify-content: center;
  width: 262px;
}

/* line 70, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-form-link-container p {
  padding-top: 5px;
  margin-left: 5px;
  text-align: center;
}

/* line 76, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.logo-container {
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/assets/teami_logo-0cc5a4423b166dd08c3914e2f342c82a380bcede2187c18c6c81800274555d6f.svg);
}

/* line 84, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 262px;
}

/* line 91, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-header h1 {
  font-size: 45px;
  font-weight: 200;
}

/* line 96, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-header p {
  font-size: 25px;
  font-weight: 200;
}

/* line 101, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-header p, .session-header h1 {
  text-align: center;
}

/* line 105, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-header p, .session-header h1, .logo-container {
  margin: 10px 0;
}

/* line 109, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-image {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/assets/splash-8f4a07ec713a943e99661b5bd29c0754a2391cebaca7245dde8d23d384b91dd5.jpg);
  background-size: contain;
  height: inherit;
  width: inherit;
}

/* line 118, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-image-container {
  height: 640px;
  width: 640px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 127, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-container {
  display: flex;
}

/* line 131, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-container li {
  color: red;
  margin: 5px;
  text-align: left;
}

/* line 137, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.session-container ul {
  position: absolute;
  top: 590px;
  list-style-type: disc;
  padding-left: 10px;
}

/* line 144, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.main-session-container {
  display: flex;
  flex-direction: column;
}

/* line 149, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: #7DCC4D;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 161, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.footer a {
  margin: 0 20px;
  color: #ffffff;
  font-size: 20px;
}

/* line 167, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/api/sessions.scss */
.footer a:visited {
  color: #ffffff;
}

/* line 1, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/app.scss */
.chats-main {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

/* line 11, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/app.scss */
.chats-left-sidebar {
  min-width: 20vw;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* line 1, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat.scss */
.chat-container {
  width: 100%;
  min-width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* line 9, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat.scss */
.chat-bottom-container {
  display: flex;
  position: relative;
  flex-direction: row;
  flex: 1 1 auto;
}

/* line 1, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_header.scss */
.new-chat-input, .chat-header {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  padding: 10px;
  border-bottom: 1px solid #f1f0f0;
}

/* line 9, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_header.scss */
.chat-header {
  display: flex;
  justify-content: space-between;
}

/* line 14, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_header.scss */
.chat-header p {
  margin: 0 auto;
  font-size: 18px;
  padding-top: 5px;
}

/* line 1, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_info.scss */
.chat-info-container {
  max-width: 420px;
  min-width: 200px;
  flex: 0 2 33.33%;
}

/* line 1, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-sidebar {
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f1f0f0;
}

/* line 8, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chats-search {
  padding: 5px 0;
  border-bottom: 1px solid #f1f0f0;
  text-align: center;
}

/* line 14, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chats-search input {
  width: 95%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 2px 0;
  padding-left: 10px;
  text-indent: 15px;
}

/* line 24, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-list {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 30, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-list-item {
  cursor: pointer;
  height: 50px;
  padding: 7px;
  min-width: 25%;
  padding-left: 12px;
  display: flex;
}

/* line 39, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-list-item:hover {
  background-color: #f1f0f0;
}

/* line 43, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-list-item-img {
  height: 50px;
  width: 50px;
  overflow: hidden;
  align-items: center;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 100px;
  border-left: 1px solid #7DCC4D;
  border-right: 1px solid #7DCC4D;
}

/* line 55, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-list-item img {
  height: 50px;
  width: 50px;
}

/* line 60, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-list-text-container {
  padding-right: 12px;
  justify-content: center;
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

/* line 69, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-list-item-description {
  display: flex;
  justify-content: space-between;
}

/* line 74, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-list-item-name div,
.chat-list-item-body div,
.chat-list-item-timestamp div {
  padding: 5px 0;
}

/* line 80, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-list-item-name, .chat-list-item-body {
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

/* line 88, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-list-item-body div,
.chat-list-item-name div {
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

/* line 97, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-list-item-timestamp {
  display: block;
}

/* line 101, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chat-list-item-body, .chat-list-item-timestamp {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}

/* line 106, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.highlight {
  background-color: #f1f0f0;
}

/* line 110, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chats-search {
  position: relative;
}

/* line 114, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/chat_list.scss */
.chats-search svg {
  position: absolute;
  top: 10px;
  left: 15px;
}

/* line 1, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/giphy_search.scss */
.giphy-search-container {
  position: absolute;
  width: 100%;
  top: -65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

/* line 11, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/giphy_search.scss */
.giphys-search {
  position: relative;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #f1f0f0;
  border-bottom: 1px solid #f1f0f0;
}

/* line 19, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/giphy_search.scss */
.giphy-search-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

/* line 25, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/giphy_search.scss */
.giphy-search-form input {
  flex: 5 2 0%;
  margin-left: 10px;
  padding: 5px 0;
  padding-left: 15px;
  border-radius: 20px;
  background-color: #f1f0f0;
}

/* line 34, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/giphy_search.scss */
.giphy-attr {
  text-align: center;
  background-image: url(/assets/powered_by_giphy-f520c1fa01403bacf5990ff6b6bbf1d7f81fd149cc66372c9e6f533cf93b3ae9.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  background-color: black;
}

/* line 44, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/giphy_search.scss */
.giphy-search-list {
  width: 95%;
  position: absolute;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  top: -137px;
  padding: 5px;
  background-color: #ffffff;
}

/* line 55, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/giphy_search.scss */
.giphy-search-list li {
  margin: 5px;
  cursor: pointer;
}

/* line 60, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/giphy_search.scss */
.giphy-search-form button {
  margin-left: 20px;
  background-color: #7DCC4D;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 15px;
  flex: 1 1 0%;
}

/* line 1, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.message-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

/* line 7, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.message-list-container {
  display: flex;
  overflow: auto;
  flex: 2 0 0%;
}

/* line 13, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.message-list {
  width: 100%;
}

/* line 17, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.message-form-container {
  width: 100%;
  position: relative;
  flex: 0 1 auto;
}

/* line 23, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.message-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-bottom: 20px;
}

/* line 31, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.message-form button {
  flex: 1 1 auto;
}

/* line 35, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.message-form textarea {
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  padding-top: 20px;
  padding-left: 10px;
  resize: none;
  overflow: auto;
}

/* line 45, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.message {
  display: flex;
  position: relative;
}

/* line 50, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.message-timestamp-show {
  color: rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  max-width: 50%;
  font-size: 12px;
  display: flex;
  visibility: visible;
}

/* line 59, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.message-timestamp-hide {
  visibility: hidden;
}

/* line 63, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.my-message {
  justify-content: flex-end;
}

/* line 67, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.their-message {
  justify-content: flex-start;
}

/* line 71, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.my-message div, .their-message div {
  word-wrap: break-word;
  max-width: 50%;
  display: block;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 2px;
}

/* line 80, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.my-message div {
  background-color: #7DCC4D;
  color: #ffffff;
}

/* line 85, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.their-message div {
  background-color: #f1f0f0;
  color: black;
}

/* line 90, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.message-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* line 97, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.giphy-message div {
  background-color: transparent;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 10px;
}

/* line 104, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.giphy-message img {
  border-radius: 10px;
  max-width: 75%;
}

/* line 109, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.my-giphy-message {
  text-align: right;
}

/* line 113, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.their-giphy-message {
  text-align: left;
}

/* line 117, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.giphy-button {
  border-top: 1px solid #f1f0f0;
}

/* line 121, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/messages.scss */
.giphy-button svg {
  vertical-align: middle;
  color: #7dcc4d;
  bottom: -7px;
  margin-right: 20px;
  position: relative;
}

/* line 1, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/navbar.scss */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 0 10px;
  border-right: 1px solid #f1f0f0;
  border-bottom: 1px solid #f1f0f0;
}

/* line 12, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/navbar.scss */
.navbar p {
  font-size: 20px;
}

/* line 1, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-container {
  width: 100%;
  min-width: 50%;
  overflow: hidden;
}

/* line 7, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-main {
  flex: 9 1 100%;
  height: 100%;
}

/* line 12, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-input {
  align-items: flex-start;
}

/* line 21, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-input p {
  margin: 0 5px;
  flex: 0 1 auto;
  padding: 2px 0;
  font-size: 16px;
}

/* line 28, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-users-search input {
  font-size: 16px;
}

/* line 32, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-users-search {
  display: flex;
  align-items: flex-start;
  flex: 10 1 auto;
}

/* line 38, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-users-search form, .new-chat-users-search input {
  display: flex;
  flex: 1 1 auto;
}

/* line 43, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-users-search input:focus {
  outline: none;
}

/* line 47, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-users-search {
  position: relative;
}

/* line 51, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-users-search ul {
  position: absolute;
  top: 40px;
  padding: 10px;
  border: 1px solid #f1f0f0;
  border-radius: 10px;
}

/* line 59, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-users-search li {
  cursor: pointer;
  border-radius: 5px;
}

/* line 64, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-users-search ul div {
  display: flex;
  align-items: center;
}

/* line 69, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-users-search img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  border-radius: 50px;
  overflow: hidden;
}

/* line 77, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-users-search li:hover {
  background-color: #f1f0f0;
}

/* line 81, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-input-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

/* line 87, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-members {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

/* line 94, /Users/lawrenceguintu/Documents/AppAcademy/Projects/FullStack/TeaMi/app/assets/stylesheets/components/new_chat.scss */
.new-chat-members li {
  display: block;
  background-color: #7DCC4D;
  color: #ffffff;
  padding: 5px;
  margin: 1px 0;
  border-radius: 5px;
}
