.new-chat-input, .chat-header {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  padding: 10px;
  border-bottom: 1px solid $their-bubble-color;
}

.chat-header {
  display: flex;
  justify-content: space-between;
}

.chat-header p {
  margin: 0 auto;
  font-size: 18px;
}