.chat-info-container {
  max-width: 420px;
  min-width: 200px;
  flex: 0 2 33.33%;
  border-left: 1px solid $their-bubble-color;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $their-bubble-color;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.chat-info {
  font-size: 16px;
  word-break: break-word;
  position: relative;
  display: flex;
}

.edit-chat-pic {
  position: absolute;
  font-size: 15px;
  background-color: rgba(0, 0, 0, .3);
  color: $background-color;
  overflow: hidden;
  height: 50px;
  width: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}

.chat-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-pic-loader {
  position: absolute;
  display: flex;
  z-index: 1;
  background-color: rgba(0, 0, 0, .3);
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.chat-pic input {
  display: flex;
  opacity: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
}

.chat-pic:hover .edit-chat-pic {
  display: flex;
}

.chat-info p, .chat-info img {
  margin: 0 5px;
}

.my-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid $their-bubble-color;
}

.my-info a {
  color: $leaf-green;
  font-size: 18px;
}

.chat-info-users-search {
  padding: 10px;
  border-bottom: 1px solid $their-bubble-color;
}

.chat-info-users-search input {
  background-color: $light-gray;
  text-indent: 10px;
  border-radius: 10px;
}
.chat-info-users-search .new-chat-members {
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex: 0 0 0;
  flex-wrap: nowrap;
  margin-top: 5px;
}

.chat-info-users-search .new-chat-members li {
  cursor: pointer;
}

.chat-info-users-search .new-chat-members li:focus {
  cursor: pointer;
  outline: none;
  background-color: $background-color;
  color: $leaf-green;
  border: 1px solid $leaf-green;
}

.chat-info-users-search ul {
  background-color: $background-color;
}

.chat-info-members {
  padding: 10px;
  overflow: auto;
}

.chat-info-members p {
  margin: 10px;
  margin-bottom: 20px;
}

.chat-info-members-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.chat-info-members-list img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
}

.chat-info-container img {
  height: 50px;
  width: 50px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 100px;
  border-left: 1px solid #7DCC4D;
  border-right: 1px solid #7DCC4D;
}

.new-chat-users-search ul {
  max-height: 300px;
  overflow: auto;
}

.chat-info-members-list li:hover {
  background-color: $light-gray;
}