.chat-list-item {
  cursor: pointer;
  height: 64px;
  padding-left: 12px;
  min-width: 240px;
  width: 25%;
}

.chat-list-item:hover {
  background-color: $their-bubble-color;
}

.chat-list-item:active {
  background-color: $their-bubble-color;
}

.chat-list-item-img {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-list-item img {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border-radius: 100px;
  margin-right: 10px;
}

.chat-list-item ul {
  display: flex;
}

.chat-list-item-description {
  display: flex;
  justify-content: space-between;
}

.chat-list-item-name {
  // min-width: 0;
  // flex-grow: 0.5;
  // font-size: 15px;
  // white-space: nowrap;
  // text-overflow: ellipsis;
  // overflow: hidden
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.chat-list-item-name p {
    flex: 1 1 0%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-list-item-timestamp {
  // display: flex;
  // flex-grow: 5;
  // align-items: flex-end;
  // min-width: 20px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.chat-list-item-timestamp p {
  margin-left: auto;
}

.chat-list-item-body, .chat-list-item-timestamp {
  font-size: 13px;
}

.chat-list-item-name p, .chat-list-item-body p {
  text-overflow: ellipsis;
}

.chat-list-text-container {
  display: flex;
  // justify-content: center;
  // flex-direction: column;
  // white-space: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.highlight {
  background-color: $their-bubble-color;
}