.chat-container {
  width: 100%;
  min-width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chat-bottom-container {
  position: relative;
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 1 auto;
}