.chat-sidebar {
  flex: 2 1 auto;
  display: flex;
}

.chat-list {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1 1 auto;
}

.chat-list-item {
  cursor: pointer;
  height: 50px;
  padding: 7px;
  min-width: 25%;
  padding-left: 12px;
  display: flex;
}

.chat-list-item:hover {
  background-color: $their-bubble-color;
}

.chat-list-item-img {
  height: 50px;
  width: 50px;
  overflow: hidden;
  align-items: center;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 100px;
  border-left: 1px solid $leaf-green;
  border-right: 1px solid $leaf-green;
}

.chat-list-item img {
  height: 50px;
  width: 50px;
}

.chat-list-text-container {
  padding-right: 12px;
  justify-content: center;
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.chat-list-item-description {
  display: flex;
  justify-content: space-between;
}

.chat-list-item-name div, 
.chat-list-item-body div, 
.chat-list-item-timestamp div {
  padding: 5px 0;
}

.chat-list-item-name, .chat-list-item-body {
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.chat-list-item-body div, 
.chat-list-item-name div {
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.chat-list-item-timestamp {
  display: block;
}

.chat-list-item-body, .chat-list-item-timestamp {
  font-size: 13px;
  color: rgba(0, 0, 0, .40);
}

.highlight {
  background-color: $their-bubble-color;
}