.giphy-search-container {
  position: absolute;
  width: 100%;
  top: -65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
}

.giphys-search {
  position: relative;
  width: 100%;
  padding: 10px;
  border-top: 1px solid $their-bubble-color;
  border-bottom: 1px solid $their-bubble-color;
}

.giphy-search-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.giphy-search-form input {
  flex: 5 2 0%;
  margin-left: 10px;
  padding: 5px 0;
  padding-left: 15px;
  border-radius: 20px;
  background-color: $their-bubble-color;
}

.giphy-attr {
  text-align: center;
  background-image: asset_url('powered_by_giphy.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  background-color: black;
}

.giphy-search-list {
  width: 100%;
  position: absolute;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  top: -137px;
  padding: 5px;
  background-color: $background-color;
}

.giphy-search-list li {
  margin: 5px;
}

.giphy-search-form button {
  margin-left: 20px;
  background-color: $your-bubble-color;
  color: $background-color;
  padding: 5px 10px;
  border-radius: 15px;
  flex: 1 1 0%;
}

