.message-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message-list-container {
  // max-height: 88vh;
  display: flex;
  overflow: auto;
  flex: 9 1 0%;
}

.message-list {
  flex: 1 1 auto;
  width: 100%;
}

.message-form-container {
  display: flex;
  width: 100%;
  flex: 1 2 auto;
}

.message-form {
  width: 100%;
  flex: 1 1 auto;
}

.message-form textarea {
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  padding-top: 20px;
  padding-left: 10px;
  resize: none;
  overflow: auto;
}

.message {
  display: flex;
}

.my-message {
  justify-content: flex-end;
}

.their-message {
  justify-content: flex-start;
}

.my-message div, .their-message div {
  word-wrap: break-word;
  max-width: 50%;
  display: block;  
  padding: 5px 10px;
  border-radius: 15px;
  margin: 2px;
}

.my-message div {
  background-color: $your-bubble-color;
  color: $your-text-color;
}

.their-message div {
  background-color: $their-bubble-color;
  color: $their-text-color;
}

.message-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}