.new-chat-container {
  width: 100%;
  min-width: 50%;
  overflow: hidden;
}

.new-chat-main {
  flex: 9 1 100%;
  height: 100%;
}

.new-chat-input {
  // display: flex;
  // flex-direction: row;
  align-items: flex-start;
  // min-height: 23px;
  // padding: 13px;
  // border-bottom: 1px solid $their-bubble-color;
}

.new-chat-input p {
  margin: 0 5px;
  flex: 0 1 auto;
  padding: 2px 0;
  font-size: 16px;
}

.new-chat-users-search input {
  font-size: 16px;
}

.new-chat-users-search {
  display: flex;
  align-items: flex-start;
  flex: 10 1 auto;
}

.new-chat-users-search form, .new-chat-users-search input {
  display: flex;
  flex: 1 1 auto;
}

.new-chat-users-search input {
  padding: 2px 0px;
}

.new-chat-users-search input:focus {
  outline: none;
}

.new-chat-users-search {
  position: relative;
}

.new-chat-users-search ul {
  position: absolute;
  top: 40px;
  padding: 10px;
  border: 1px solid $their-bubble-color;
  border-radius: 10px;
}

.new-chat-users-search li {
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.new-chat-users-search ul div {
  display: flex;
  align-items: center;
}

.new-chat-users-search img {
  height: 30px;
  width: 30px;
  margin: 5px 0;
  margin-right: 10px;
  border-radius: 50px;
  overflow: hidden;
  border-left: 1px solid #7DCC4D;
  border-right: 1px solid #7DCC4D;
}

.new-chat-users-search li:hover {
  background-color: $their-bubble-color
}

.new-chat-input-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.new-chat-members {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.new-chat-members li {
  display: block;
  background-color: $leaf-green;
  color: $background-color;
  padding: 5px;
  margin: 1px 0;
  border-radius: 5px;
}