$dark-green: #5EA878;
$light-green: #AAE1C9;
$lightest-green: #D6FAE2;
$light-blue: #91C9D4;
$dark-blue: #457F8B;

$background-color: #ffffff;
$your-bubble-color: $light-blue;
$their-bubble-color: lightgray;
$their-text-color: black;
$your-text-color: $background-color;
$chat-name-color: black;
$preview-color: lightgray;
$time-color: lightgray;
$profile-link-color: $your-bubble-color;
$current-chat-color: lightgray;
$main-color: $light-blue;
$signin-border: lightgray;