$dark-green: #5EA878;
$light-green: #AAE1C9;
$lightest-green: #D6FAE2;
$light-blue: #91C9D4;
$dark-blue: #457F8B;
$leaf-green: #7DCC4D;
$leaf-dark-green: #5DA87C;
$leaf-blue: #4DCC9C;
$light-gray: #f2f2f2;
$light-gray-bubble: #f1f0f0;
$fb-blue: #0E85F7;

$background-color: #ffffff;
$your-bubble-color: $leaf-green;
$their-bubble-color: $light-gray-bubble;
$their-text-color: black;
$your-text-color: $background-color;
$chat-name-color: black;
$preview-color: $light-gray;
$time-color: $light-gray;
$profile-link-color: $your-bubble-color;
$current-chat-color: $light-gray;
$main-color: $leaf-green; // dark green before
$signin-border: $light-gray;
$link-color: $leaf-green; // dark green before