$dark-green: #5EA878;
$light-green: #AAE1C9;
$lightest-green: #D6FAE2;
$light-blue: #91C9D4;
$dark-blue: #457F8B;
$leaf-green: #7DCC4D;
$leaf-dark-green: #5DA87C;
$leaf-blue: #4DCC9C;

$background-color: #ffffff;
$your-bubble-color: $light-blue;
$their-bubble-color: lightgray;
$their-text-color: black;
$your-text-color: $background-color;
$chat-name-color: black;
$preview-color: lightgray;
$time-color: lightgray;
$profile-link-color: $your-bubble-color;
$current-chat-color: lightgray;
$main-color: $leaf-green; // dark green before
$signin-border: lightgray;
$link-color: $leaf-green; // dark green before